.about{
    background: #EAF2FD;
}

.about__container{
    display: flex;
    flex-direction: column;
}

.about__title{
    text-align: left;
    margin: 20px;
}

.about__paragraph{
    text-align: left;
    margin: 10px 20px;
}

.about__container img{
    width: 40%;
    margin: 20px auto;
}

